.page {
    position: relative;
    padding: 40px 70px 40px 70px;
    width: 400px;
}

.page__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.orContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.orContainer__line {
    border-top: 1px solid gainsboro;
    width: 45%;
}


.closeIcon {
    position: absolute !important;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.rounded {
    border-radius: 20px;
}

.button_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.input {
    width: 400px;
    height: 30px;
    border-radius: 30px;
    /* background-color: rgb(233, 233, 233); */
    border: 1px solid rgb(130, 153, 231);
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    font-style: oblique;
}