.container {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
}

.input {
    width: 90%;
    border-radius: 10px;
    background-color: rgb(245, 241, 241);
    font-size: 12px;

}

.profile_image {
    padding-right: 15px;
}