.container {
    cursor: pointer;
    /* padding-bottom: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: gray; */

}

.user {
    font-size: 20px;
    font-weight: bolder;
}

.text {
    font-size: 14px;
    color: rgb(160, 157, 157);
    margin-left: 10px;
}

.deleteIcon {
    margin-top: 10px;
}

.horizontal_line {
    border-bottom: 1px solid rgb(206, 203, 203);
    margin-top: 10px;
    margin-bottom: 10px;
}

.input {

    width: 250px;
    margin-top: 10px;
    font-size: 14px;
    font-style: oblique;
    padding: 10px;
}

.input_wrapper {
    display: flex;
    align-items: center;
}