.comments_likes_row {
    display: flex;
    cursor: pointer;
}

.card__info__bottom {
    margin-top: 15px;
    display: flex;
    align-items: center;
}


.comment_wrapper {
    padding-bottom: 15px;
}

.devider {
    border-bottom: 1px solid rgb(241, 167, 98);
    width: 100%;
}