.container {
    background-color: rgb(252, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.user_like {
    color: orangered !important;
}