.card {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    /* padding: 5px; */
}

.card__picture {
    width: 100px;
    height: 70px;
    border-radius: 5px;
    padding: 15px;
}

.card__info {
    display: flex;
    flex-direction: column;
    gap: 1px;
}


.card__body {
    width: 100%;
    display: flex;
}


.card__info__user {
    margin-top: 4px;
    margin-left: 4px;
    color: rgb(158, 154, 154);
    font-size: 14px;
    align-items: center;
    width: 100%;
}

.clickable {
    cursor: pointer;
    display: flex;
    flex-direction: row;
}