.page {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px 70px 40px 70px;
}

.text_box {
    margin-top: 10px;
    width: 400px;
}

.wide_text_box {
    margin-top: 40px;
    width: 400px;
}

.button_row {
    display: flex;
    justify-content: end;
    padding-bottom: 25px;
    padding-right: 25px;
    /* margin-top: 20px; */
}

.input__fileUpload {
    margin-top: 30px;
}