.container {

    width: 800px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 30px;
}

@media (max-width: 1200px) {
    .container {
        width: 550px;
    }
}

.headline {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.image {
    width: 100%;
    height: 300px;
}

.wide_text_box {
    width: 100%;
}

.like_box {
    background-color: white;
}

.comment_button {
    margin-top: 10px;
    display: flex;
    justify-content: end;
}

.comments_area {
    padding: 15px;
}

.left_header {
    align-items: center;
    display: flex;
}

.closeIcon {
    margin-bottom: 50px;
}


.comments_container {
    padding: 15px;
}